{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="../static/settings.css">
<title>settings-page</title>
{% endblock%}

{% block content%}
<div class="content-body-container">
    <div class="content-body">
        <div class="content">
            <div class="login-container">

            </div>
        </div>
        <footer id="content-body-footer" class="content-body-footer">
            <div class="footer-parts footer-info">
                <div class="footer-part-1">
                    <div class="copyright-container">
                        <span>
                            <span class="copyright-text">
                                Copyright © 2025
                            </span>
                            <a class="apple-music-link" href="https://music.apple.com/us/home">Apple Inc.</a>
                        </span>
                        <span class="copyright-text">
                            All rights reserved.
                        </span>
                    </div>
                </div>
                <div class="footer-part-2">
                    <div class="footer-options-container">
                        <ul class="list-options-1">
                            <li class="border-right-line"><a class="white-tags" href="">Internet Service
                                    Terms</a></li>
                            <span class="divider"></span>
                            <li class="border-right-line"><a class="white-tags" href="">Apple Music &
                                    Privacy</a></li>
                            <span class="divider"></span>
                            <li class="border-right-line"><a class="white-tags" href="">Cookie Warning</a></li>
                            <span class="divider"></span>
                            <li class="border-right-line"><a class="white-tags" href="">Support</a></li>
                            <span class="divider"></span>
                            <li class="border-right-line"><a class="white-tags" href="">Feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-parts language-options-list-container">
                <ul class="list-options-1 language-options-list">
                    <li><a class="white-tags" href="">United
                            States</a></li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">Español
                            (Mexico)</a></li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">العربية</a></li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">Русский</a></li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">简体中文</a></li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">Français
                            (France)</a>
                    </li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">한국어</a></li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">Português
                            (Brazil)</a></li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">Tiếng
                            Việt</a>
                    </li>
                    <span class="divider"></span>
                    <li><a class="gray-tags" href="">繁體中文
                            (台灣)</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
{% endblock %}